*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

.container{
    background: #000;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:auto;
    align-items: center;
    padding: 20px 0;
}

.logo{
    width: 40px;
}

ul li{
    display: inline-block;
}

ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.content .text{
    width: 40%;
    color: #fff;
}

.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}

.content .text p{
    font-size: 18px;
    margin: 20px 0;
}

.content .text a{
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 8px 15px;
    border-radius: 20px;
}

.content .image{
    width: 30%;
}

.content .image img{
    width: 180px;
}

.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}

.icons img:hover{
    transform: scale(1.2);
}





@media (max-width: 992px) {
    .content{
        flex-direction: column;
        text-align: center;
    }

    .content .text,
    .content .image{
        width: 100%;
    }

    .content .image img{
        width: 200px;
    }
}

/* شاشات الموبايل */
@media (max-width: 576px) {

    header{
        width: 90%;
    }

    header ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    header ul li {
        display: block;
    }

    ul li a{
        margin: 0 5px;
        font-size: 14px;
    }

    .content{
        width: 90%;
    }

    .content .text h2{
        font-size: 28px;
    }

    .content .text p{
        font-size: 16px;
    }

    .content .image img {
        width: 60%;
        max-width: 250px;
    }

    .content .image img{
        width: 150px;
    }

    .icons img{
        width: 30px;
    }

}